---
import NewVehicleForm from '../../components/pages/vehicle/add-form';
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Añadir ciudadano'>
  <div class='overflow-auto h-full'>
    <NewVehicleForm client:load />
  </div>
</Layout>
