---
import Card from '../components/pages/index/Card.astro';
import Layout from '../layouts/Layout.astro';
import { UserListIcon } from '../components/icons/user';
import { CarIcon } from '../components/icons/car';
import { TicketIcon } from '../components/icons/ticket';
---

<Layout title='Welcome to Astro.'>
  <div class='flex-grow grid place-content-center min-h-full'>
    <section class='flex justify-center gap-5'>
      <Card
        title='Ciudadanos'
        icon={UserListIcon}
        desc='Consulta los usuarios registrados y su historial'
        href='/citizen'
      />
      <Card
        title='Vehiculos'
        icon={CarIcon}
        desc='Consulta los vehiculos registrados y su historial'
        href='/vehicle'
      />
      <Card
        title='Multas'
        icon={TicketIcon}
        desc='Consulta las multas registradas y su información relacionada'
        href='/fine'
      />
    </section>
  </div>
</Layout>
