---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Citizen panel'>
  <div class='flex flex-col items-center'>
    <h3 class='text-red-500 text-6xl font-outfit'>404</h3>
    <p class='text-xl'>User not found</p>
  </div>
</Layout>
