---
import '@fontsource-variable/outfit';
import '@fontsource/lato';
import NavigationBar from '../components/nav-bar';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='bg-amber-50 font-lato min-h-screen flex flex-col'>
    <header class='bg-red-500 py-4'>
      <h1 class='text-center text-6xl font-outfit font-bold text-white'>
        Transito
      </h1>
      <NavigationBar client:load />
    </header>
    <main class='p-4 flex-grow flex flex-col'>
      <slot />
    </main>
  </body>
</html>
